@import url("https://fonts.googleapis.com/css?family=Unlock");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
  font-family: "PressStart2P";
  src: url("../Assets/fonts/PressStart2P-Regular.woff") format("woff"),
    url("../Assets/fonts/PressStart2P-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../hompage-assets/spacebackground.jpg");
  font-family: "Press Start 2P", cursive;
  color: white;
  margin: 0 0;
}

a {
  color: yellow;
}
.container {
  min-height: 100vh;
  justify-content: space-between;
}

header {
  background-color: black;
  color: white;
  align-items: center;
}

h1 {
  font-size: 40px;
}

h3 {
  color: #c11e01;
}

.intro {
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.controls,
.about {
  display: none;
  max-width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  line-height: 150%;
}

#canvas {
  border: 1px black dotted;
  border-radius: 10px;
  width: auto;
  height: 99vh;
}

#game {
  margin-left: 18vw;
  display: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.card {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  padding: 5px;
  border-radius: 5px;
}

.frosty {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.card-img-top {
  width: 288px;
  height: 384px;
}

.card-body {
  padding-left: 45px;
}

.btn {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
  padding: 20px;
  background-color: #c11e01;
  color: white;
}

.btn:hover {
  background-color: #2a628f;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  justify-content: center;
}

/* UTILITY CLASSES */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.social-icon {
  display: flex;
  width: 64px;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
  .card {
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
  }
  .card-body {
    padding-left: 0px;
  }

  footer {
    font-size: 12px;
  }
}
